<div class = "top-container">

  <div class="noren">
    <%= image_tag asset_path('暖簾.png'), size: "800x250" %>
  </div>
  
  <div class="top-title">
    <h1>だがしやへようこそ</h1>
  </div>
  
  <%= link_to dagashis_path, class:"enter" do %>
    <%= image_tag '/assets/入店看板.png', size: "230x150" %>
  <% end %>

</div>