/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  padding :0px;
  margin: 0px;
  color:white;  
  background-color: #CDBBA7;
  font-family: '07にくまるフォント', sans-serif;
 }

 .noren{
  padding-bottom: 100px;
  margin-top: -10px;
 }

 .top-title{
  padding-bottom: 50px;
 }

 .top-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100%;
 }

 .index-header{
  text-align: center;
  align-items: flex-start; /* 上部に配置 */
  flex-direction: column;
  height: 100px; /* ヘッダー全体の高さを画面の高さに設定 */
  padding: 50px;
 }

 .menu-parent {
  max-width: 270px; /* 任意の幅を指定して親要素の幅を制限 */
  margin: 0 auto; /* 中央揃えにするために左右のマージンを自動で設定 */
}

 .menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color:black;
  padding-bottom: 10px;
  margin-bottom:50px;
  border-radius: 10px;
 }

 .menu li{
  padding-bottom: 10px;
 }

 .purchases{
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .purchase{
  padding-right:20px;
 }

 .purchases-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .purchased-items{
  background-color: white;
  color:black;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
 }

 .purchased-item{
  padding-bottom: 10px;
 }

 .purchases-container h2{
  padding: 30px 0px;
 }

 footer{
  height: 30px;
  padding-top: 60px;
 }

 @font-face {
  font-family: '07にくまるフォント';
  src: url('/assets/07にくまるフォント.otf') format('OpenType'),
}
