<div class="purchases-container">

  <h2>毎度ありがとうございます。</h2>
  
  <div class="purchased-items">
    <% @dagashis.each do |dagashi| %>
      <li class="purchased-item">
        <%= "#{dagashi[:name]} #{dagashi[:price]}円 ×#{dagashi[:count]}" %>
      </li>
    <% end %>
  </div>

  <h2>を買いました。</h2>

  <div>
  <%= link_to dagashis_path do %>
    <%= image_tag '/assets/戻る.png', size: "110x70" %>
  <% end %>
  </div>
</div>